<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <title>Задачи</title>
</head>
<body>
<div><h2>Задачи</h2></div>
{% for tasks_status in tasks %}
<div>
    <h3>{{tasks_status.status}}</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Статус</th>
                <th>Задача</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks_status.tasks %}
            <tr>
                <td>{{task.id_task}}</td>
                <td>{{task.status}}</td>
                <td>{{task.name}}</td>
                <td>{{task.description}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}
</body>
</html>