<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Задачи</title>
</head>
<body>
<div>Задачи</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Номер</th>
                <th>Статус</th>
                <th>Задача</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{task.id_task}}</td>
                <td>{{task.status}}</td>
                <td>{{task.name}}</td>
                <td>{{task.description}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>